$mainColor1:#fff5e0;
$mainColor2:#ff6969;
$mainColor3:#bb2525;
$mainColor4:#141e46;

.alert-danger{
    border-radius: 50px;
    background-color: transparent;
    border: none;
    
}

.loginMessage{
    position: fixed;
    top: 10%;
    left: 0;
    z-index: 5;
    background-color: transparent;
    border: none;
}